<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="urgent">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Urgent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="later">
      <ion-icon name="clock"></ion-icon>
      <ion-label>Later</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="done">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Done</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
